<div>
    <div class="row content">
        <div class="panel-group col-sm-12">
            <h4 class="panel-heading " style="color: blue;">User Module</h4>
            <div class="panel-body" style="padding-top:0;">                            
                    <div class="btn-group text-left">
                        <button type="button" class="btn btn-primary" routerLink="/User/Details">UserDetails</button>
                        <button type="button" class="btn btn-primary" routerLink="/User/Add">Add User</button>                
                    
                </div>

                <div class="panel-group">
                    <div class="panel-body">
                        <div class="row content">
                            <div class="col-sm-12">
                                <router-outlet></router-outlet>
                            </div>
                    
                        </div>

                    </div>

                </div>

                

            </div>
        </div>        
    </div>
</div>
