<div class="container-fluid">
  
    <div class="row">
      <div class="col-sm-12 h-100">
  
        <div class="col-sm-1" > 
          <!-- <img src="../assets/images/adnoc_icon.png"  style="width:70%; position: relative; overflow: hidden;"/> -->
          <!-- <img src="../assets/images/adnoc_icon.png" class="img-responsive" alt="Cinque Terre">        -->
          <!-- <img src="../assets/images/adnoc_icon.png" class="img-responsive img-rounded" alt="Cinque Terre"> -->         
          <img src='assets/images/adnoc_icon.png'
          alt="Profile Picture" class="img-responsive"
          style="max-height: 90px; max-width: 100px;">

        </div>
        <div class="col-sm-11 h-100">
          <div class="row h-50" style="background-color:royalblue;">
            <div class="col-sm-12 h-100">              
                <h4 style="color: white;">CStore Application Management</h4>             
            </div>
  
          </div>
          <div class="row h-50" style="background-color:grey">
            <!-- <div class="col-sm-12 h-100 w-100" style="width: 100%;"> -->
              <div class="tab">
                <button class="tablinks" [class.active]="tabSelected === 'Home'" (click)="tabClick('Home')">Home</button>
                <button class="tablinks" [class.active]="tabSelected === 'Category'" (click)="tabClick('Category')">Category</button>
                <button class="tablinks" [class.active]="tabSelected === 'SubCategory'" (click)="tabClick('SubCategory')">SubCategory</button>
                <button class="tablinks" [class.active]="tabSelected === 'Items'" (click)="tabClick('Items')">Items</button>
                <button class="tablinks pull-right" [class.active]="tabSelected === authText" (click)="tabClick(authText)">{{authText}}</button>
              </div>  
          <!-- </div> -->
  
        </div>
  
      </div>
  
    </div>        
      </div>

      <div class="row">
        <router-outlet></router-outlet>
      </div>
    
    <!-- <div class="footer" >
      <div class="row">
        <hr style="border-top: 1px solid orange"/>      
        <p>footer</p>
        </div>
      </div> -->
    

</div>