<div class="container-fluid">
<div class="row" style="margin-top:10px;">
    <div class="col-sm-12">
        <div class="panel panel-info" style="max-height: 75vmax;height: 75vh;;">
            <!-- <div class="panel-title">C-Store App Management</div> -->
            <div class="panel-heading">CStore Application Management</div>
            <div class="panel-body">
            <div>
                <p style="color:black">
                    C-Store App Management provides Web Interface to perform CRUD operations on C-Store Database resources.
                    <br />
                    Please use below links to perform insert, update and delete operations on Database tables.
                </p> 
            </div>
            <div>
                <ul >
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="../Category">Category</a></li>
                    <li><a routerLink="../SubCategory">SubCategory</a></li>
                    <li><a routerLink="../Item">Items</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
</div>

