<table class="table" style="width: 100%;">
    <caption><h5><b>Delete User </b>           
    </h5>     
    </caption>
<tr>
    <td>
UserName
    </td>
    <td>
        {{currentUser.userName}}
    </td>
</tr>
<tr>
    <td>
Age
    </td>
    <td>
        {{currentUser.age}}
    </td>
</tr>
<tr>
    <td>
Sex
    </td>
    <td>
        {{currentUser.sex}}
    </td>
</tr>
<tr>
    <td>

    </td>
    <td >
        <input type="button" class="btn-success" value="Delete" (click)="delete()">
    </td>
</tr>
</table>  
